body{
  font-family: 'Montserrat', sans-serif;
  background-color: #FAFAFA;
}

.first {
  position: relative; 
  background-image: url('./img/hero-cover.3.jpg'); 
  min-height: 793px; 
  background-size: cover;
  background-position: center;
  overflow: hidden; 
}
.first::before {
  content: '';
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1; 
}

header {
  position: relative; 
  z-index: 2; 
  color: white; 
  padding: 20px 0; 
}
a {
  color: white; 
  text-decoration: none; 
  
}
a:hover {
  text-decoration: underline; 
}

.card1 {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
  margin-top: 20px; 
  background-color: white; 
  width: 297px; 
  height: 376px; 
  padding: 20px; 
  border-radius: 5px; 
  margin-top: 80px;
}
.card1 img:first-child {
  border-radius: 50%; 
  width: 149px;
  height: 149px; 
  object-fit: cover; 
  margin-bottom: 15px; 
}
.content {
  text-align: center; 
  margin: 50px 0;
  color: white; 
  position: relative; 
  z-index: 2; 
}
.btnfirst {
  background-color: #23A6F0; 
  color: white; 
  border: none; 
  width: 214px;
  height: 52px;
  border-radius: 5px;
}

.btn-blue {
  background-color: #23A6F0; 
  color: white; 
  border: none; 
  width: 185px;
  height: 52px;
  border-radius: 37px;
}

.btn-transparent {
  background-color: transparent; 
  color: white; 
  border: 2px solid white; 
  width: 185px;
  height: 52px;
  border-radius: 37px;
}

.zag{
  font-weight: 800;
  font-size: 58px;
  margin-top: 150px;
}


.cards {
  display: flex;
  flex-wrap: wrap; gap: 30px; 
  margin-left: 197px; 
}

.cards_hero1 {
  background-color: white;
  border: 0px solid #ccc;
  padding: 20px;
  text-align: left; width: 328px;
  height: 201px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; align-items: flex-start;
   z-index: 2; 
    
}

.cards_hero1 img {
  width: 48px;
  height: 39px;
  margin-bottom: 10px; 
}

.cards_hero1 h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 0; 
}

.cards_hero1 p {
  font-size: 14px;
  font-weight: 500;
  margin: 0; 
}

.blue-card {
  background-color: #23A6F0;
  color: white;
}

.blue-card h1, .blue-card p {
  color: white;
}

/* 4 секция */

.col-auto {
  margin-right: 60px; 
}
.col-auto:last-child {
  margin-right: 0;
}
.img-sponsor{
  margin-top: 196px;
}
.search {
  display: flex; 
  color: white; 
  align-items: center; 
  margin-bottom: 20px;
  padding: 20px; 
  background: linear-gradient(to right, #004788, #D71489); 
  justify-content: center;
  height: 124px; 
  font-weight: 700;
  font-size: 24px;
}
.search input {
  width: 450px; 
  height: 58px; 
  border-radius: 4px; 
  border: none; 
  padding: 0 10px; 
}
.search button {
  height: 58px; 
  border: 0px;
  background-color: #23A6F0;
}